<header> <H1> LOGIN</H1></header>

<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Iniciar sesion
                </div>
                <div class="card-body">
                    <label for="correo">Correo electronico:</label> <br>
                    <input type="text" name="correo" id="correo" class="form-control" [(ngModel)]="correo" required> 
                    <label for="contraseña">Contraseña</label> <br>
                    <input type="password" name="contraseña" id="contraseña" class="form-control" [(ngModel)]="password" required> <br>

                    <a href="./dashboard" class="btn btn-primary"(click)=ingresarNombre()>Ingresar</a>
                    <a  id="es" href="/registro"  class="btn btn-primary">Registro</a><br>
                    <a href="/contra">¿olvidaste tu contraseña?</a>


                    
                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>

                   






                    
                    

                


           
