
<div class="container">
    <div class="row">
        <div class="col">
  
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Nueva contraseña 
                </div>
                <div class="card-body">
             
                    <label for="contraseña">Contraseña</label> <br>
                    <input type="password" name="contraseña" id="contraseña" class="form-control" [(ngModel)]="password" required> <br>
  
                    <a href="./dashboard" class="btn btn-primary"(click)=ingresar()>Cambiar</a>
  
  
                    
                </div>
            </div>
        </div>
        <div class="col">
  
        </div>
    </div>
  </div>
  
          